$bg: #fafbfc;

$inputBorder: #eee;
$inputBorderFocus: #0747A6;

$white: #fff;
$black: #333;

$text: #4a4b4c;

$preBorder: #eee;

$overlay: rgba(44,46,62,0.9);

$buttonBg: #00A8F5;
$buttonBorder: #0897d8;

$buttonBgHover: #009ee6;
$buttonBorderHover: #0a88c1;