<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="author" content="Julio Pavani Lozovei" />
	<meta name="robots" content="noindex,nofollow" />
	<meta name="googlebot" content="noindex,nofollow" />
	<meta name="theme-color" content="#4a4b4c" />
	<title>WDC - Julio Lozovei</title>
	<link rel="stylesheet" type="text/css" href="dist/css/client.css" />
	<link rel="icon" href="dist/img/favicon.png" />
</head>
<body>
<div class="header">
	<h1>Watson Developer Cloud - Julio Lozovei</h1>
</div>

<div class="content">
	<div class="welcome">
		<p>Bem-vindo visitante. Aqui você poderá ver algumas das utilizações dos serviços que o Watson disponibiliza através de suas APIs.</p>
		<p>Escolha abaixo uma das APIs disponíveis:</p>
		<ul class="api-list">
			<li><a href="/translation">Language Translator e Language Identificator</a></li>
			<li><a href="/nlu">Natural Language Understanding</a></li>
			<li><a href="/tone">Tone Analyzer</a></li>
		</ul>
	</div>

	<footer class="footer">
		<small class="cr"></small>
		<small><a class="github" target="_blank" href="https://github.com/jlozovei/watsonlt" title="Ver no Github"><i class="fa fa-github"></i></a></small>
	</footer>
</div>
<script type="text/javascript" src="dist/js/client.min.js"></script>
</body>
</html>