<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Julio Pavani Lozovei" />
    <meta name="robots" content="noindex,nofollow" />
    <meta name="googlebot" content="noindex,nofollow" />
    <meta name="theme-color" content="#4a4b4c" />
    <title>WDC - Tone Analyzer</title>
    <link rel="stylesheet" type="text/css" href="dist/css/client.css" />
    <link rel="icon" href="dist/img/favicon.png" />
</head>
<body>
<div class="header">
    <a title="Voltar para Home" href="/" class="home-navigation"><i class="fa fa-home"></i></a>
    <h1>Watson Developer Cloud - Tone Analyzer</h1>
</div>

<div class="content">
    <div class="content-wrapper clearfix">
        <div class="input-container">
            <label for="textToTone">Texto para análise</label>
            <textarea name="textToTone" id="textToTone" rows="3" placeholder="Insira o texto que você quer analisar"></textarea>
        </div>
        <div class="button-container">
            <button id="toneAnalyzer">Analisar</button>
        </div>

        <div class="clearfix tone-analyzed">
            <label>Tons identificados</label>
            <div class="col-3 left">
                <label>Tons emocionais:</label>
                <div class="emotion_tone"></div>
            </div>
            <div class="col-3">
                <label>Tons linguísticos:</label>
                <div class="language_tone"></div>
            </div>
            <div class="col-3 right">
                <label>Tons sociais:</label>
                <div class="social_tone"></div>
            </div>
            <a class="view-json" data-target="tone">visualizar JSON</a>
        </div>
    </div>

    <div class="modal-overlay">
        <div class="modal-container">
            <div class="modal-fade-content tone">
                <pre></pre>
            </div>
        </div>
    </div>

    <footer class="footer">
        <small class="cr"></small>
    </footer>
</div>
<script type="text/javascript" src="dist/js/client.min.js"></script>
</body>
</html>